.more-button {
  padding: 5px 20px;
  outline: none;
  border-radius: 6px;
  border: 1px solid blue;
  margin-top: 5px;
  font-size: 16px;
}
.title {
  font-weight: 600;
}
#display-phone-details {
  margin-bottom: 60px;
}
#spinner {
  display: none;
  margin-bottom: 100px;
}
.spinner-class {
  display: flex;
  justify-content: center;
  align-items: center;
}
